###############################################################################
# Compiled files
###############################################################################
debug/
target/

###############################################################################
# Backup files
###############################################################################
**/*.rs.bk

###############################################################################
# MSVC debug files
###############################################################################
*.pdb

###############################################################################
# IDEA files
###############################################################################
.idea/

###############################################################################
# VSCode files
###############################################################################
.vscode/
